body {
	font-family: "Helvetica Neue Ultra Light", Helvetica, Arial, sans-serif;
}
#all {
	width: 100%;
	height: 100%
}
#header {

}
#logo {
	height: 100px;
	float: left;
}
#external_buttons {
	width: 50%;
	float: left;
}
#footer {
	
}
#city_select {
	width: 60%;
	margin: 0 20%;
}
.main {
	background-image: url(NEED TO COMPOSITE PHOTOS FOR THIS IMAGE!!!!!);
	background-repeat:no-repeat;
	background-position:center top;
}
.button {
	width: 20%;
	margin: 0 0 0 80%;
	text-align: center;
	font-weight: bold;
}
.centered {
	position: relative;
	margin: 0 20%;
}
.label {
	width: 60%;
	font-size: 150%;
}

.city {
    background: black; 
    color: white;
}
.city table.header {
    table-layout: fixed;
    width: 100%;
}

.city table.header .endcap {
    width: 200px;
    text-align: right;
}

#header {
	height: 100px;
}
#city_header {
	width: 550px;
	margin-left:auto;
	margin-right:auto;
}
#city_header h1, #city_header button {
	display: inline;
}
#header_container {
	display: block;

}
div.external_links {

	border: 2px solid red;
}