<!DOCTYPE html>
<html>
<head>
	<title>PHOTOvoyage</title>
	<link rel="stylesheet" type="text/css" href="static/css/voyage.css">
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<div id="all">
	<div id="header">
		<div id="logo">
			<img src="static/img/photovoyage_logo.png" href="home" style="width: 100%; " alt="PHOTOvoyage">
		</div>
		<div id="external_buttons">
			<div class="fb-like external_links" data-href="http://www.hackbrightacademy.com/" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
			<div class ="external_links"><g:plusone size="medium"></g:plusone></div>
			<div class ="external_links"><a href="https://twitter.com/share" class="twitter-share-button" data-via="twitterapi" data-lang="en">Tweet</a></div>
		</div>
	</div>
	<div id="content">
	{% block content %} {% endblock %}
	 </div>
	<div id="footer">
		</br>
	</div>
</div>
</body>
</html>