<html>
    <head>
        <title>PHOTOvoyage - {{city}}</title>
    	<link rel="stylesheet" type="text/css" href="/static/css/voyage.css">    	
        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/js/collage.js"></script>        
        <script type="text/javascript">
            var photos = {{json_data}};
        
            $(document).ready(function() {
                var useFB = false;
                if (useFB) {
                    $.ajax({
                      url: 'https://graph.facebook.com/cocacola/photos',
                      dataType: 'jsonp',
                      success: function(data) {
                        photos = data.data;
                        for (var i = 0; i < photos.length; i++) {
                            photos[i].url = photos[i].source;
                        }                    
                        render();                                            
                      }
                    });                    
                } else {
                    render();                    
                }

            });
            function render() {
                var width = $('#containerWidth').val();
                if (width) {
                    $('#here').width(width);
                }                
                var collage = new Collage({
                    renderTargetId: 'main-content',
                    photos: photos,
                    borderWidth: $('#borderWidth').val(),
                    targetRowHeight: $('#targetRowHeight').val(),
                    width: width
                });
                collage.render();
            }
            function next() {
                window.location = "/city/{{next}}?last={{last}}";
            }
            
        </script>
    </head>
    <body class="city">
        <table class="header">
            <tr>
                <td class="endcap"></td>
                <td><h1 style="text-align: center">Welcome to {{city}}!</h1></td>
                <td class="endcap">
                    <button onclick="next()">
                        {% if next %}
                        On to {{next}}
                        {% else %}
                        Last stop: {{last}}
                        {% endif %}
                    </button>
                </td>
            </tr>
        </table>
        <div id="main-content"></div>
    </body>
</html>