{% extends "base.html" %}

{% block content %}

    <div id ="header_container">
    <div id = "city_header">
        <h1 style="text-align: center">Welcome to {{city}}!</h1>
        <button onclick="next()">
            {% if next %}
            On to {{next}}
            {% elif last %}
            Last stop: {{last}}
            {% else %}
            Back home!
            {% endif %}
        </button>
    </div>
</div>
    <div id="main-content">
        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/js/collage.js"></script>        
        <script type="text/javascript">

            var photos = {{ json_data|safe }};
        
            $(document).ready(function() {
                var useFB = false;
                if (useFB) {
                    $.ajax({
                      url: 'https://graph.facebook.com/cocacola/photos',
                      dataType: 'jsonp',
                      success: function(data) {
                        photos = data.data;
                        for (var i = 0; i < photos.length; i++) {
                            photos[i].url = photos[i].source;
                        }                    
                        render();                                            
                      }
                    });                    
                } else {
                    render();                    
                }

            });
            function render() {
                var width = $('#containerWidth').val();
                if (width) {
                    $('#here').width(width);
                }                
                var collage = new Collage({
                    renderTargetId: 'main-content',
                    photos: photos,
                    borderWidth: $('#borderWidth').val(),
                    targetRowHeight: $('#targetRowHeight').val(),
                    width: width
                });
                collage.render();
            }
            function next() {
                {% if next %}
                window.location = "/city/{{next}}?last={{last}}";
                {% elif last %}
                window.location = "/city/{{last}}";                
                {% else %}
                window.location = "/";
                {% endif %}
            }
            
        </script>
    </div>

{% endblock %}